*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SEZIONE HEADER */

header{
    line-height: 110px;
    height: 120px;
    border-top: 2px solid gray;
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
    padding-left: 20px;
}

/* FINE SEZIONE HEADER */
/*INIZIO SEZIONE MAIN-BODY */

body{
    background-color: #e7e6e6;
    margin-top: 0px;
    margin-left: 0px;
}

#logo {
    width: 70px;
    vertical-align: middle;
}

/* TASTI */

.container {
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 7px;
}

#buttons{
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 80px;
    width: 100%;
}

.blue-add-task{
    background-color: #368bf5;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    padding: 8px;
}

.white-add-section{
    padding: 8px;
    background-color: white;
    border: 1px solid lightslategray;
    color: lightslategray;
    border-radius: 7px;
    margin-left: 7px;
}

/* MODIFICATORI TESTO */

h2{
    display: inline;
    margin-left: 10px;
}

h3{
    display: inline-block;
}

ul{
    list-style: none;
    padding-left: inherit;
}

.x-neg{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 0 6px 0 6px;
    margin-right: 15px;
    height: 25.8px;
    display: inline-block;
}

.v-done{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 0 6px 0 6px;
    margin-right: 15px;
    height: 25.8px;
    display: inline-block;
}

li{
    margin-top: 20px;
    margin-bottom: 10px;
}

#new-task-list{
    margin-top: 5px;
    margin-bottom: 5px;
}

#today-list{
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#all-lists{
    padding: 44px 80px;
}

/* QUI I COLORI */

.blu-editorial{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(87 162 255);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

.purple-goals{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(195, 104, 255);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

.lightgreen-recruiting{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(76, 167, 124);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

.orange-mobile{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(250, 161, 28);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

.pink-website{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(241, 54, 201);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

.green-sales{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(198, 241, 79);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}